spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/task_manager
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
    validate-on-migrate: true
  aop:
    auto: true
    proxy-target-class: true

# Logging configuration for PROD profile
logging:
  level:
    root: WARN
    org.task.taskmaganer: INFO
    org.springframework.security: WARN
    org.hibernate: ERROR
  file:
    name: logs/task-manager.log
  logback:
    rollingpolicy:
      max-file-size: 100MB
      max-history: 90
      total-size-cap: 50GB